<p style="color: green"><%= notice %></p>

<h1>Articles</h1>


<% @articles.each do |article| %>
  <div id="articles">
      <%= render article %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
  </div>
<% end %>

<%= link_to "New article", new_article_path %>
